.cursos {
  background-color: var(--base6);
}

.container_cursos {
  max-width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px auto;
  padding: 160px 100px;
  gap: 160px 40px;
}

.container_cursos h2 {
  color: var(--base7);
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
  min-width: 3ch;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.card {
  background-color: var(--base7);
  width: 120px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: var(--sombra);
}

.card::before {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  background: var(--gradiente-ter);
  border-radius: 1px;
  position: absolute;
  left: -5px;
  top: 45px;
}

.card span {
  color: var(--base3);
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.card h3 {
  color: var(--base1);
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (max-width: 1250px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1140px) {
  .container_cursos h2 {
    font-size: 7rem;
  }
}

@media (max-width: 950px) {
  .container_cursos h2 {
    font-size: 6rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 800px) {
  .container_cursos {
    grid-template-columns: 1fr;
    padding: 120px 100px;
    gap: 40px;
  }
  .container_cursos h2 {
    color: var(--base1);
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
