.container_expro {
  max-width: 1160px;
  display: grid;
  margin: 0px auto;
  padding: 160px 100px;
  gap: 160px 40px;
}

.container_expro h2 {
  color: var(--subtitulo2);
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

.experiencias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.experiencias_texto {
  max-width: 44ch;
  min-width: 25ch;
  font-size: 1.5rem;
  line-height: 1.25;
  color: var(--texto);
}

.experiencias_texto p + p {
  padding-top: 1.875rem;
}

.experiencias_texto strong {
  color: var(--strongtext);
}

.experiencias_texto a {
  color: var(--link1);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.experiencias_texto a:hover {
  color: var(--strongtext);
}

.experiencias_texto a:focus {
  color: var(--strongtext);
  outline: 2px solid transparent;
}

.separador {
  display: grid;
  grid-template-columns: 4fr 1fr 7fr;
}

.separador div {
  background-color: var(--separadorbase);
  height: 2px;
  margin: 63px 0px;
}

.separador h2 {
  color: var(--subtitulo2);
  margin: 0px 40px;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.projetos h2 {
  max-width: 4.5ch;
}

.card_projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 40px;
  background-color: var(--card1);
  backdrop-filter: blur(2px);
  border: var(--bordercard);
  border-radius: 5px;
  position: relative;
  box-shadow: var(--elevacao1);
  transition: transform 0.5s;
}

.card_projeto + .card_projeto {
  margin-top: 20px;
}

.card_projeto:hover {
  transform: translateX(-60px);
  background-color: var(--cardmobile1);
  backdrop-filter: none;
}

.card_projeto h3 {
  color: var(--titulo);
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 10px;
}

.ano {
  position: absolute;
  background: var(--chip2);
  color: var(--onchip2);
  font-size: 1.125rem;
  padding: 5px 10px;
  width: 40px;
  height: 20px;
  text-align: center;
  border-radius: 4px;
  rotate: 270deg;
  top: 35px;
  left: -30px;
}

.descricao a {
  color: var(--titulo);
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.descricao a:hover {
  color: var(--link1);
}

.descricao a:focus {
  color: var(--link1);
  outline: 2px solid transparent;
}

.descricao a:hover .link path {
  fill: var(--link1);
}

.descricao a:focus .link path {
  fill: var(--link1);
  outline: 2px solid transparent;
}

.descricao p {
  line-height: 1.25;
  color: var(--texto);
}

.habilidades {
  border-left: var(--separadorcor);
  padding-left: 20px;
}

.habilidades ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.habilidades li {
  color: var(--titulo);
  font-size: 0.875rem;
  line-height: 1.25;
  background-color: var(--chip1);
  padding: 5px 10px;
  border-radius: 4px;
}

@media (max-width: 1140px) {
  .container_expro h2 {
    font-size: 7rem;
  }
  .separador div {
    margin: 55px 0px;
  }
  .card_projeto:hover,
  .card_projeto:focus {
    transform: translateX(-50px);
  }
}

@media (max-width: 950px) {
  .container_expro h2 {
    font-size: 6rem;
  }
  .separador div {
    margin: 47px 0px;
  }
  .projetos h2 {
    min-width: 4.5ch;
  }
  .card_projeto:hover,
  .card_projeto:focus {
    transform: translateX(-40px);
  }
}

@media (max-width: 820px) {
  .expro {
    background: var(--background2);
  }
  .container_expro {
    padding: 120px 100px;
    gap: 120px 40px;
  }
  .container_expro h2 {
    color: var(--titulo);
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
  .experiencias {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencias_texto {
    min-width: 0ch;
  }
  .experiencias_texto p,
  .experiencias_texto a {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .separador {
    display: none;
  }
  .projetos {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .projetos h2 {
    display: none;
  }
  .card_projeto {
    background-color: var(--cardmobile1);
    backdrop-filter: none;
  }
  .card_projeto:hover,
  .card_projeto:focus {
    transform: translateX(-30px);
  }
}

@media (max-width: 430px) {
  .container_expro {
    padding: 80px 40px;
    gap: 80px 0px;
    margin: 0;
  }
  .container_expro h2 {
    color: var(--titulo);
    font-size: 1.5rem;
  }
  .experiencias {
    gap: 20px;
  }
  .experiencias_texto p,
  .experiencias_texto a {
    font-size: 1rem;
    line-height: 1.25;
  }
  .experiencias_texto p + p {
    padding-top: 1rem;
  }
  .card_projeto {
    grid-template-columns: 1fr;
  }
  .card_projeto:hover,
  .card_projeto:focus {
    transform: translateX(-20px);
  }
  .descricao {
    padding-bottom: 10px;
  }
  .habilidades {
    border-left: none;
    border-top: var(--separadorcor);
    padding-left: 0px;
    padding-top: 20px;
  }
}
