.expro {
  background-color: var(--base5);
}

.container_expro {
  max-width: 1160px;
  display: grid;
  margin: 0px auto;
  padding: 160px 100px;
  gap: 160px 40px;
}

.container_expro h2 {
  color: var(--base6);
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

.experiencias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.experiencias_texto {
  max-width: 44ch;
  min-width: 25ch;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: var(--base2);
}

.experiencias_texto p + p {
  padding-top: 1.875rem;
}

.experiencias_texto strong {
  color: var(--base1);
}

.experiencias_texto a {
  color: var(--secundaria);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.experiencias_texto a:hover {
  color: var(--base1);
}

.separador {
  display: grid;
  grid-template-columns: 4fr 1fr 7fr;
}

.separador div {
  background-color: var(--base4);
  height: 2px;
  margin: 63px 0px;
}

.separador h2 {
  color: var(--base4);
  margin: 0px 40px;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.projetos h2 {
  max-width: 4.5ch;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px 40px;
  background-color: var(--base6);
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: var(--sombra1);
}

.projeto h3 {
  color: var(--base1);
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 10px;
}

.ano {
  position: absolute;
  background: var(--gradiente-sec);
  color: var(--base6);
  padding: 5px 10px;
  width: 40px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  rotate: 270deg;
  top: 35px;
  left: -30px;
}

.descricao a {
  color: var(--base1);
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.descricao a:hover {
  color: var(--secundaria);
}

.descricao a:hover .link path {
  fill: var(--secundaria);
}

.descricao p {
  line-height: 1.25;
  color: var(--base2);
}

.habilidades {
  border-left: var(--borda-sec);
  padding-left: 20px;
}

.habilidades ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.habilidades li {
  color: var(--base2);
  font-size: 0.875rem;
  line-height: 1.25;
  background-color: var(--base5);
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 1140px) {
  .container_expro h2 {
    font-size: 7rem;
  }
  .separador div {
    margin: 55px 0px;
  }
}

@media (max-width: 950px) {
  .container_expro h2 {
    font-size: 6rem;
  }
  .separador div {
    margin: 47px 0px;
  }
  .projetos h2 {
    min-width: 4.5ch;
  }
}

@media (max-width: 800px) {
  .container_expro {
    padding: 120px 100px;
    gap: 120px 40px;
  }
  .container_expro h2 {
    color: var(--base1);
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
  .experiencias {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencias_texto p {
    font-size: 1.25rem;
  }
  .experiencias_texto a {
    font-size: 1.25rem;
  }
  .separador {
    display: none;
  }
  .projetos {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .projetos h2 {
    display: none;
  }
}

@media (max-width: 390px) {
  .container_expro {
    max-width: 310px;
    padding: 80px 40px;
    gap: 120px 0px;
  }
  .experiencias {
    padding-right: 40px;
  }
  .projetos {
    padding-right: 40px;
  }
  .projeto {
    grid-template-columns: 1fr;
  }
  .descricao {
    padding-bottom: 10px;
  }
  .habilidades {
    border-left: none;
    border-top: var(--borda-sec);
    padding-left: 0px;
    padding-top: 20px;
  }
}
