footer {
  background-color: var(--base7);
}

.container_contato {
  max-width: 1160px;
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  align-items: center;
  margin: 0px auto;
  padding: 40px 100px;
  gap: 60px;
}

.dados {
  border-bottom: var(--borda-qua);
  padding-bottom: 10px;
}

.dados ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dados li {
  margin-bottom: 3px;
}

.email {
  padding: 2px 10px;
}

.dados li,
.dados a {
  color: var(--base1);
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: bold;
}

.dados a {
  padding: 5px 10px;
}

.dados a:hover {
  color: var(--quaternaria);
}

.copy {
  color: var(--base3);
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  padding-top: 15px;
}

.redes_sociais {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.redes_sociais li a {
  padding: 10px;
}

.dribbble:hover stop {
  stop-color: var(--base1);
}

.github:hover stop {
  stop-color: var(--base1);
}

.linkedin:hover stop {
  stop-color: var(--base1);
}
