:root {
  --base1: #ffffff;
  --base2: #e6e6e6;
  --base3: #cccccc;
  --base4: #b3b3b3;
  --base5: #999999;
  --base6: #808080;
  --base7: #666666;
  --base8: #4d4d4d;
  --base9: #333333;
  --base10: #1a1a1a;
  --base11: #000000;
  --gradiente-pri: linear-gradient(#3030bf, #1919a6);
  --gradiente-sec: linear-gradient(#80c0ff, #5ca1e5);
  --gradiente-ter: linear-gradient(#6df2f2, #4cd9d9);
  --gradiente-qua: linear-gradient(#6b24b2, #540f99);
  --primaria: #2424b2;
  --secundaria: #6db0f2;
  --terciaria: #5ce5e5;
  --quaternaria: #5f19a6;
  --sombra1: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --sombra2: 0px 1px 3px rgba(26, 26, 26, 0.15),
    0px 1px 2px rgba(26, 26, 26, 0.3);
  --sombra3: 0px 1px 2px rgba(51, 51, 51, 0.3),
    0px 2px 6px rgba(51, 51, 51, 0.15);
  --sombra4: 0px 1px 2px rgba(77, 77, 77, 0.3),
    0px 1px 3px rgba(77, 77, 77, 0.15);
  --sombra5: 0px 2px 6px rgba(26, 26, 26, 0.15),
    0px 1px 2px rgba(26, 26, 26, 0.3);
  --sombra6: 0px 1px 2px rgba(77, 77, 77, 0.3),
    0px 2px 6px rgba(77, 77, 77, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background1: var(--base9);
    --background2: var(--base10);
    --borda: var(--base9);
    --bordercard: 2px solid #4d4d4d;
    --borderbtn: 2px solid #6db0f2;
    --btntext: var(--base9);
    --botao: var(--secundaria);
    --card1: rgba(51, 51, 51, 0.7);
    --card2: rgba(77, 77, 77, 0.7);
    --cardmobile1: var(--base9);
    --cardmobile2: var(--base8);
    --chip1: var(--base8);
    --chip2: var(--gradiente-ter);
    --chip3: var(--gradiente-sec);
    --elevacao1: var(--sombra1);
    --elevacao2: var(--sombra2);
    --elevacao3: var(--sombra5);
    --icone: var(--base1);
    --link1: var(--terciaria);
    --link2: var(--secundaria);
    --logo: var(--base1);
    --menu: var(--base1);
    --onchip1: var(--base1);
    --onchip2: var(--base9);
    --separadorbase: var(--base9);
    --separadorcor: 2px solid var(--terciaria);
    --strongtext: var(--base1);
    --subtitulo1: var(--base10);
    --subtitulo2: var(--base9);
    --texto: var(--base3);
    --titulo: var(--base1);
    --titulospan: var(--secundaria);
  }
  .expro {
    background: url("/img/padrao-projetos-dark.svg"), var(--background2);
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .cursos {
    background: url("/img/padrao-certificados-dark.svg"), var(--background1);
    background-position: top right;
    background-repeat: no-repeat;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background1: var(--base2);
    --background2: var(--base3);
    --borda: var(--base1);
    --bordercard: 2px solid #ffffff;
    --borderbtn: 2px solid #2424b2;
    --btntext: var(--base2);
    --botao: var(--primaria);
    --card1: rgba(230, 230, 230, 0.7);
    --card2: rgba(204, 204, 204, 0.7);
    --cardmobile1: var(--base2);
    --cardmobile2: var(--base3);
    --chip1: var(--base1);
    --chip2: var(--gradiente-qua);
    --chip3: var(--gradiente-pri);
    --elevacao1: var(--sombra3);
    --elevacao2: var(--sombra4);
    --elevacao3: var(--sombra6);
    --icone: var(--base11);
    --link1: var(--quaternaria);
    --link2: var(--primaria);
    --logo: var(--base11);
    --menu: var(--base11);
    --onchip1: var(--base11);
    --onchip2: var(--base2);
    --separadorbase: var(--base2);
    --separadorcor: 2px solid var(--quaternaria);
    --strongtext: var(--base11);
    --subtitulo1: var(--base3);
    --subtitulo2: var(--base2);
    --texto: var(--base9);
    --titulo: var(--base11);
    --titulospan: var(--primaria);
  }
  .expro {
    background: url("/img/padrao-projetos-light.svg"), var(--background2);
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .cursos {
    background: url("/img/padrao-certificados-light.svg"), var(--background1);
    background-position: top right;
    background-repeat: no-repeat;
  }
}

body {
  background-color: var(--background1);
  margin: 0px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}
